/* This was stolen from firefox and is under MPL 2.0" */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 13px;
    gap: 12px;
}

/* 
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2a2a2e;
        color: #cccccc;
    }
}
  
@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        color: #2a2a2e;
    }
} */


button {
    height: 32px;
    border-radius: 15px;
    padding-inline: 8px;
    background-color: #0060df;
    color: #fff;
    border: none;
    width: 217px;
    font: 1rem "inter", sans-serif;
	transition: 0.2s;
	&:hover {
		background-color: #5399f5;
	}
}

#url {
    height: 32px;
    border-radius: 15px;
    padding-inline: 8px;
    background-color: #fff;
    color: #000;
    border: none;
    width: 220px;
    font: 0.9rem "inter", sans-serif;
}

#instructions {
    text-align: center;
    padding: 0 11px;
    max-width: 15em;
    margin: 0 auto;
    margin-bottom: 10px;
    font: 1rem "inter", sans-serif;
}
